/* html {
    font-size: 100%;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner {
    display: flex;
    width: 100%;   
}

.banner-pic {
    height: 490px;
    width: 830px;
    border-radius: 0px;    
}

.banner-dark {
    color: white;
    display: flex;
    justify-content:center;
    align-items: center;
    height: 490px;
    width: 610px;
    border-radius: 0px;
    background: #000000;
}
.banner-dark-center {
    height: 144px;
    width: 387px;
    /* margin-left: -10px; */
}


.banner-dark-center h3 {
    /* top: calc(50% - 48px/2 - 48px); */
    
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    /* identical to box height, or 120% */
    
    letter-spacing: 4.16667px;
    text-transform: uppercase;
    
    color: #FFFFFF;
}

 .banner-dark-center p {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    /* or 167% */

    color: #FFFFFF;

    mix-blend-mode: normal;
    opacity: 0.6;
}


.feature-container {
    /* width: 1110px;
    height: 576px;
    margin: auto;
    margin-top: auto; */
    position: absolute;
    width: 1110px;
    height: 576px;
    left: 165px;
    right: 165px;
    top: 724px;
}

.feature-first-row {
    display: flex;
}

.feature-second-row {
    display: flex;
}

.feature-item-1 {
    height: 236px;
    width: 350px;
    left: 165px;
    top: 724px;
    border-radius: 0px;
    padding-right: 15px;
}

.feature-item-2{
    height: 218px;
    width: 350px;
    left: 545px;
    top: 742px;
    border-radius: 0px;
    padding-top: 18px;
    padding-right: 15px;
    padding-left: 15px;
}

.feature-item-3 {
    height: 236px;
    width: 350px;
    left: 925px;
    top: 724px;
    border-radius: 0px;
    padding-left: 15px;
}

.feature-item-4 {
    height: 236px;
    width: 350px;
    left: 165px;
    top: 1064px;
    border-radius: 0px;
    padding-right: 15px;
}

.feature-item-5 {
    height: 236px;
    width: 350px;
    left: 545px;
    top: 1064px;
    border-radius: 0px;
    padding-right: 15px;
    padding-left: 15px;
}

.feature-item-6 {
    height: 236px;
    width: 350px;
    left: 925px;
    top: 1064px;
    border-radius: 0px;     
    padding-left: 15px;  
}

.feature-icon-1 {
    height: 72px;
    width: 72px;
    left: 296px;
    top: 724px;
    border-radius: 0px;
    margin-bottom: 48px;
}

.feature-icon-2 {
    height: 36px;
    width: 72px;
    left: 684px;
    top: 742px;
    border-radius: 0px;
    margin-bottom: 66px;
}

.feature-icon-3 {
    height: 72px;
    width: 71px;
    left: 1065px;
    top: 724px;
    border-radius: 0px;  
    margin-bottom: 48px; 
}

.feature-icon-4 {
    height: 72px;
    width: 81px;
    left: 300px;
    top: 1064px;
    border-radius: 0px;   
    margin-bottom: 48px; 
}

.feature-icon-5 {
    height: 72px;
    width: 72px;
    left: 684px;
    top: 1064px;
    border-radius: 0px; 
    margin-bottom: 48px; 
}

.feature-icon-6 {
    height: 72px;
    width: 91px;
    left: 1055px;
    top: 1064px;
    border-radius: 0px; 
    margin-bottom: 48px;  
}

.feature-icons{
    position: relative;
    left: 9rem;
}