/* html {
    font-size: 100%;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 72px;
    background-color: #ffffff;
    font-family: 'DM Sans', sans-serif;
    position: fixed;
}

.logo{
    display: flex;
    align-items: center;
}

nav{
    display: flex;
    justify-content: space-between;
    width: 269px;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height */
    letter-spacing: 2px;
}

.nav a{
    text-decoration: none;
    color: black;   
}

.nav a:hover{
    color: #DFDFDF;
}

.nav-container button {
    height: 40px;
    width: 158px;
    left: 1117px;
    top: 16px;
    border-radius: 0px;
    background-color: #000000;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;

    letter-spacing: 2px;

    color: #FFFFFF;
}

.banner {
    display: flex;
    width: 100%;   
}

.banner-pic {
    height: 490px;
    width: 830px;
    border-radius: 0px;    
}

.banner-dark {
    color: white;
    display: flex;
    justify-content:center;
    align-items: center;
    height: 490px;
    width: 610px;
    border-radius: 0px;
    background: #000000;
}
.banner-dark-center {
    height: 144px;
    width: 387px;
    /* margin-left: -10px; */
}


.banner-dark-center h3 {
    /* top: calc(50% - 48px/2 - 48px); */
    
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    /* identical to box height, or 120% */
    
    letter-spacing: 4.16667px;
    text-transform: uppercase;
    
    color: #FFFFFF;
}

 .banner-dark-center p {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    /* or 167% */

    color: #FFFFFF;

    mix-blend-mode: normal;
    opacity: 0.6;
}


.feature-container {
    /* width: 1110px;
    height: 576px;
    margin: auto;
    margin-top: auto; */
    position: absolute;
    width: 1110px;
    height: 576px;
    left: 165px;
    right: 165px;
    top: 724px;
}

.feature-first-row {
    display: flex;
}

.feature-second-row {
    display: flex;
}

.feature-item-1 {
    height: 236px;
    width: 350px;
    left: 165px;
    top: 724px;
    border-radius: 0px;
    padding-right: 15px;
}

.feature-item-2{
    height: 218px;
    width: 350px;
    left: 545px;
    top: 742px;
    border-radius: 0px;
    padding-top: 18px;
    padding-right: 15px;
    padding-left: 15px;
}

.feature-item-3 {
    height: 236px;
    width: 350px;
    left: 925px;
    top: 724px;
    border-radius: 0px;
    padding-left: 15px;
}

.feature-item-4 {
    height: 236px;
    width: 350px;
    left: 165px;
    top: 1064px;
    border-radius: 0px;
    padding-right: 15px;
}

.feature-item-5 {
    height: 236px;
    width: 350px;
    left: 545px;
    top: 1064px;
    border-radius: 0px;
    padding-right: 15px;
    padding-left: 15px;
}

.feature-item-6 {
    height: 236px;
    width: 350px;
    left: 925px;
    top: 1064px;
    border-radius: 0px;     
    padding-left: 15px;  
}

.feature-icon-1 {
    height: 72px;
    width: 72px;
    left: 296px;
    top: 724px;
    border-radius: 0px;
    margin-bottom: 48px;
}

.feature-icon-2 {
    height: 36px;
    width: 72px;
    left: 684px;
    top: 742px;
    border-radius: 0px;
    margin-bottom: 66px;
}

.feature-icon-3 {
    height: 72px;
    width: 71px;
    left: 1065px;
    top: 724px;
    border-radius: 0px;  
    margin-bottom: 48px; 
}

.feature-icon-4 {
    height: 72px;
    width: 81px;
    left: 300px;
    top: 1064px;
    border-radius: 0px;   
    margin-bottom: 48px; 
}

.feature-icon-5 {
    height: 72px;
    width: 72px;
    left: 684px;
    top: 1064px;
    border-radius: 0px; 
    margin-bottom: 48px; 
}

.feature-icon-6 {
    height: 72px;
    width: 91px;
    left: 1055px;
    top: 1064px;
    border-radius: 0px; 
    margin-bottom: 48px;  
}

.feature-icons{
    position: relative;
    left: 9rem;
}

/* 100% Responsive */

.feature-title {
    /* position: absolute; */
    height: 25px;
    left: 0%;
    right: 0%;
    top: calc(50% - 25px/2 - 45.5px);

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height, or 139% */

    text-align: center;

    color: #000000;
}

.feature-description {
    height: 75px;
    left: 0%;
    right: 0%;
    /* top: calc(50% - 75px/2 + 20.5px); */
    top: 41px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    /* or 167% */

    text-align: center;

    color: #000000;

    mix-blend-mode: normal;
    opacity: 0.6;
}

.pre-footer {
    position: absolute;
    height: 530px;
    width: 100%;
    left: 0px;
    top: 1458px;
    border-radius: 0px;
    background-image: url("../images/bg-beta.jpg");
    background-repeat: no-repeat;
}

.pre-footer-content {
    height: 144px;
    width: 1110px;
    margin-left: 165px;
    margin-top: 68px;
    border-radius: 0px;
}

.pre-footer-left-text {
    position: relative;
    height: 144px;
    width: 400px;
    padding-left: 0px;
    /* left: 0%;
    right: 63.96%;
    top: calc(50% - 144px/2); */

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    /* or 120% */

    letter-spacing: 4.16667px;
    text-transform: uppercase;

    color: #FFFFFF;
}

.pre-footer-right-text {
    position: absolute;
    height: 16px;
    width: 168px;
    left: 942px;
    top: 64px;
    margin-top: 64px;
    border-radius: 0px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.footer {
    position: absolute;
    height: 250px;
    width: 100%;
    left: 0px;
    top: 1738px;
    border-radius: 0px;
}

@media (max-width: 480px) {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    .conatiner {
        display: block;
    } 

    header {
        position: absolute;
        width: 375px;
        height: 72px;
        left: 0px;
        top: 0px;

        background: #FFFFFF;
    }

    .banner {
        position: absolute;
        width: 375px;
        display: block;
        top: 0px;
    }

    .banner-pic {
        position: absolute;
        height: 294px;
        width: 375px;
        left: 0px;
        top: 72px;
        border-radius: 0px;
    }

    .banner-pic img {
        content: url("../images/hero-mobile.jpg");
        width: 375px;

    }

    .banner-dark {
        position: absolute;
        top: 366px;
        width: 100%;
        height: 300px;
        width: 375px;
        left: 0px;
        top: 366px;
        border-radius: 0px;

    }

    .logo {
        position: absolute;
        width: 170px;
        height: 16px;
        left: 24px;
        top: 28px;
    }

    .banner-dark-center {
        height: 156px;
        width: 318px;
        left: 29px;
        top: 438px;
        border-radius: 0px;
    }

    .banner-dark-center h3 {
        font-family: DM Sans;
        font-size: 32px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 3.3333332538604736px;
        text-align: left;
        height: 40px;

    }

    .banner-dark-center p {
        font-family: 'DM Sans';
        font-size: 15px;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 0px;
        text-align: left;
    }
}